<?xml version="1.0"?>
<config>
    <modules>
        <Experius_Emailcatcher>
            <version>1.0.0</version>
        </Experius_Emailcatcher>
    </modules>
    <global>
        <helpers>
            <emailcatcher>
                <class>Experius_Emailcatcher_Helper</class>
            </emailcatcher>
        </helpers>
        <blocks>
            <emailcatcher>
                <class>Experius_Emailcatcher_Block</class>
            </emailcatcher>
        </blocks>
        <models>
            <emailcatcher>
                <class>Experius_Emailcatcher_Model</class>
                <resourceModel>emailcatcher_mysql4</resourceModel>
            </emailcatcher>
            <emailcatcher_mysql4>
                <class>Experius_Emailcatcher_Model_Mysql4</class>
                <entities>
                    <emailcatcher>
                        <table>experius_emailcatcher</table>
                    </emailcatcher>
                </entities>
            </emailcatcher_mysql4>
            <core>
                <rewrite>
                    <email_template>Experius_Emailcatcher_Model_Email_Template</email_template>
                </rewrite>
            </core>
            <core>
                <rewrite>
                    <email>Experius_Emailcatcher_Model_Email</email>
                </rewrite>
            </core>
        </models>
        <resources>
            <emailcatcher_setup>
                <setup>
                    <module>Experius_Emailcatcher</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emailcatcher_setup>
            <emailcatcher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emailcatcher_write>
            <emailcatcher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emailcatcher_read>
        </resources>
    </global>
    <admin>
        <routers>
            <emailcatcher>
                <use>admin</use>
                <args>
                    <module>Experius_Emailcatcher</module>
                    <frontName>admin_emailcatcher</frontName>
                </args>
            </emailcatcher>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <tools>
                        <children>
                            <emailcatcherbackend module="emailcatcher">
                                <title>Email Catcher</title>
                                <sort_order>1001</sort_order>
                                <action>admin_emailcatcher/adminhtml_emailcatcherbackend</action>
                            </emailcatcherbackend>
                        </children>
                    </tools>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <emailcatcher translate="title" module="emailcatcher">
                            <title>Emailcatcher</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <emailcatcherbackend translate="title">
                                    <title>Email Catcher</title>
                                </emailcatcherbackend>
                            </children>
                        </emailcatcher>
                        <system>
                            <children>
                                <experius_emailcatcher>
                                    <title>Emailcatcher section</title>
                                </experius_emailcatcher>
                                <config>
                                    <children>
                                        <experius_emailcatcher>
                                            <title>Emailcatcher section</title>
                                        </experius_emailcatcher>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <emailcatcher>
                    <file>emailcatcher.xml</file>
                </emailcatcher>
            </updates>
        </layout>
    </adminhtml>
</config> 